.body {
  margin: 0;
  padding: 0;
}
.main-background {
  background: url("passimg.jpg") no-repeat center center fixed;
}

.passCard {
  background: white;
  border: white 2px solid;
  height: ;
}

.cardContainer {
  height: 80vh;
  padding-top: 20vh;
}
